/*portfolio section*/

.portfolio-article:nth-child(even) {
    flex-direction: row-reverse;
}

.portfolio-img img{
    object-fit: cover;
}

.portfolio-desc {
    padding-top: 6.75rem;
    padding-bottom: 6.75rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .portfolio-desc {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .portfolio-article {
        gap: 4.25rem;
    }

    .portfolio-desc:nth-child(even) {
        margin-left: 0;
    }
 
}

@media screen and (max-width: 767px) {

    .portfolio-article:nth-child(even) {
        flex-direction: column;
        margin-left: 0;
    }
    .portfolio-article {
        margin-top: 4.5rem;
        margin-bottom: 0;
    }
    .portfolio-article:first-child {
        margin-top: 0;
    }
    .portfolio-desc {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        max-width: 560px;
    }
}
